<div class="container">

  <footer class="footer">
    <small>
      Copyright <a href="https://rails-babar638623.codeanyapp.com/">My first Alpha-Blog App</a>
      by <a href="https://www.facebook.com/babar2166">Babar Ali</a>
    </small>
    <nav>
      <ul>
      <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
  
</div>